/* src/App.css */
.App {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 100px hsla(0, 69%, 40%, 0.1);
}

form {
  margin: 20px 0;
}

form input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #a19797;
  border-radius: 4px;
}

form button {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

img {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  max-width: 200px;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}

button + button {
  background-color: #007bff;
  margin-left: 10px;
}

button + button:hover {
  background-color: #0056b3;
}
